*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

html{
    font-size: 62.5%;
    @include resposive(1280px){
        font-size: 55%;
    }   
}

img{
    max-width: 100%;
}